<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>Alexandre Saumier Demers</string>
	<key>developerURL</key>
	<string>http://asaumierdemers.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>AddOverlap.py</string>
	<key>name</key>
	<string>Add Overlap UI</string>
	<key>requiresVersionMajor</key>
	<string>3</string>
	<key>requiresVersionMinor</key>
	<string>0</string>
	<key>timeStamp</key>
	<real>1397762032</real>
	<key>version</key>
	<string>2.0.7</string>
	<key>repository</key>
	<string>okay-type/AddOverlapUI</string>
	<key>extensionPath</key>
	<string>AddOverlapUI.roboFontExt</string>
</dict>
</plist>
